# MongoDB Connection String
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?appName=lostandfound

# JWT Secret Key (generate using: openssl rand -hex 32)
JWT_SECRET=your_jwt_secret_key_here

# Cloudinary Configuration (Cloud Image Storage)
# Sign up at: https://cloudinary.com/users/register_free
# Get your credentials from: https://console.cloudinary.com/
CLOUDINARY_CLOUD_NAME=Miguel
CLOUDINARY_API_KEY=778332322243613
CLOUDINARY_API_SECRET=Dck4IQV-D5k453wZrctimbEESOo

# Port (optional, defaults to 5000)
PORT=5000
